<!doctype html>
{% load staticfiles %}
<html lang="ru">
   {% include "smssign/header.html" %}
   <body>
      <div id="app">
         <div class="container shadow p-3 mb-5 bg-white rounded">
            <div class="row" >
               <div class="col">
                  <form-wizard @on-complete="onComplete">
                     <tab-content title="Ознакомление" icon="ti-user">
                      <!--${ results.Contract.applicant.FullName }-->


                      <fieldset>
                         <hr />
                         <h1><span style="font-family:Arial,Helvetica,sans-serif">Здравствуйте, ${ results.Contract.applicant.FullName }!</span></h1>
                         
                                 <p v-html="results.PageGreet.SConstValue"></p>



                         <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><strong>Сведения о программе</strong></span></span></p>

                         <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><strong>Код прграммы:</strong> ${ results.Contract.program.Code }</span></span></p>
                         <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><strong>Наименование программы:</strong>&nbsp;${ results.Contract.program.Name }</span></span></p>

                         <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><strong>Учреждение:</strong>&nbsp;ГБПОУ &laquo;Воробьёвы Горы&raquo; -  </span></span></p>
                         <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><strong>Адрес:</strong>&nbsp; </span></span></p>
                         <!--<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><strong>Стоимость оказания услуги: </strong>услуга предоставляется бесплатно</span></span></p>
                         <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><strong>Для детей:</strong> 12-18 лет</span></span></p>-->
                         <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><strong>Описание программы: </strong>${ results.Contract.program.Description }</span></span></p>
                         <hr />
                         <p style="text-align:center"><span style="font-size:18px"><span style="font-family:Arial,Helvetica,sans-serif"><strong>Сведения о занятиях</strong></span></span></p>
                         <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><strong>Дата начала занятий:</strong> ${ results.Contract.LessonBeginDate }</span></span></p>
                         <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><strong>Этап обучения: </strong>начинающий</span></span></p>
                         <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><strong>Заявление подается:</strong> законным представителем ребенка</span></span></p>





                         <hr />
                         <p style="text-align:center"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:18px"><strong>Сведения о законном представителе<br />
                            (строго согласно документу, удостоверяющему личность)</strong></span></span>
                         </p>
                         <applicantpasport-edit></applicantpasport-edit>
                         <hr />
                         <p style="text-align:center"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:18px"><strong>Сведения о будущем обучающемся<br />
                            (строго согласно документу, удостоверяющему личность)</strong></span></span>
                         </p>


                         <hr />
                      </fieldset>

                     </tab-content>
                     <tab-content title="Согласие" icon="ti-settings">

                     </tab-content>
                     <tab-content title="Подтверждение" icon="ti-check">

                     </tab-content>
                  </form-wizard>
               </div>
            </div>
         </div>

      </div>


      <script type="text/javascript">
      Vue.use(VueFormWizard);

      var BaseUrl = "http://dev.esz.dvorec.net";
      var currentUrl;
      axios.defaults.xsrfCookieName = 'csrftoken';
      axios.defaults.xsrfHeaderName = 'X-CSRFToken';
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';


      var app = new Vue({
      mounted: function(){



      },
      delimiters: ['${', '}'],
      el: '#app',
      data() {
      	return {
      		results: {
      			"Contract": {
      				"id": '',
      				"applicant": {
      					"id": '',
      					"FirstName": "",
      					"LastName": "",
      					"Patronymic": "",
      					"FullName": "",
      					"ApplicantSnils": ""
      				},
      				"program": {
      					"id": '',
      					"Name": "",
      					"ShortName": "",
      					"Description": "",
      					"IdImage": null,
      					"Code": "",
      					"Center": '',
      					"FinancingType": ''
      				},
      				"Date": "",
      				"Number": "",
      				"LessonBeginDate": "",
      				"LessonEndDate": "",
      				"MasteringProgramBeginDate": "",
      				"MasteringProgramEndDate": "",
      				"Applicant": '',
      				"Student": '',
      				"Program": '',
      				"EducationForm": '',
      				"EducationYear": '',
      				"ContractStatus": '',
      				"ContractType": ''
      			},
      			"ApplicantPhone": {
      				"Applicant": '',
      				"Phone": ""
      			},
      			"ApplicantEmail": {
      				"Applicant": '',
      				"Email": ""
      			},
      			"ApplicantPassp": {
      				"Applicant": '',
      				"ApplicantDocWhomWhenIssued": "",
      				"ApplicantAddress": "",
      				"SerialPaspDoc": "",
      				"NumPaspDoc": "",
      				"DataOutDoc": ""
      			},
      			"PageGreet": {
      				"id": '',
      				"SConstName": "",
      				"SConstValue": "",
      				"SConstDescription": ""
      			}
      		},

      	};
      },
      created: function() {
      currentUrl = window.location.pathname;
    //  console.log(currentUrl);
    var self = this;
    axios.get('/api/ct/{{ userzign }}/?format=json')
      .then(function (response) {
          // handle success
          self.results =  response.data
        //console.log(self.results);
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
        .finally(function () {
            // always executed
        });

      },

      methods: {
      onComplete: function(){
       alert('Yay. Done!');
      },

      }
      })

      </script>

      {% include "base/base/footer.html" %}
   </body>
</html>
